div, img, span, label, input, fieldset {
  box-sizing: border-box;
  font-family: Arial;
  border: none;
  padding: 0;
}

body {
  background-color: rgb(238, 238, 238);
}

h3 {
  font-size: 16px;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}

#no-related-queries-text {
  color: #bdbdbd;
  font-weight: normal;
  font-size: 14px;
  display: none;
}

#selection-panel {
  width: 97%;
  border: 1px solid rgb(224, 224, 224);
  padding: 20px;
  border-radius: 4px;
  background-color: white;
  margin: 0 auto;
}

#svg-div {
  background-color: white;
  margin: 10px auto;
  border-radius: 4px;
  display: block;
  border: 1px solid rgb(224, 224, 224);
  width: 97%;
}

svg {
  display: block;
  margin: 0 auto;
}

#svg-modal {
  fill: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
}

.loading-circle {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header a {
  text-decoration: none;
}

#google-logo {
  height: 50px;
  margin-right: 10px;
}

.header-text {
  font-size: 45px;
  position: relative;
  top: -3px;
  color: rgba(0,0,0,0.87);
}

#about-links-div {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 15px;
}

#about-links-div a {
  padding: 0 20px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}


#query-form {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#query-form label,
#query-form fieldset {
  font-size: 18px;
  margin: 0 10px;
  color: rgba(0,0,0,0.87);
}

.position-radio-input {
  margin: 0 6px;
}

#query-form input[type=text] {
  border-radius: 3px;
  border: 1px solid #ccc;
  background: none;
  -webkit-appearance: none;
  height: 35px;
  width: 210px;
  font-size: 18px;
  padding: 0 7px;
}

#query-form input[type=submit] {
  padding: 5px;
  border: 1px solid #ccc;
  background: none;
  box-shadow: none;
  border-radius: 2px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
}

#consider-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  width: 80%;
  margin: 0 auto;
  padding: 0 4px;
}

#consider-spans {
  padding: 0 6px;
}

#consider-div img {
  height: 15px;
  margin: 0 15px;
  cursor: pointer;
}

#related-queries-div {
  display: none;
}

#related-queries-loading-gif-container {
  display: none;
}

#related-queries-loading-gif-container img {
  margin: 0 auto;
  display: block;
  height: 75px;
}

#related-queries-div span,
#consider-div span {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 5px 2px;
  cursor: pointer;
  font-size: 12px;
}

#keyword-g {
  height: 100px;
  width: 100%;
}


#keyword-text {
  display: none;
  text-align: center;
  width: 100%;
  font-size: 40px;
  cursor: pointer;
}




/* MODAL */

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#modal-body {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 1000px;
}

#modal-contents {
  color: rgba(0,0,0,0.87);
  padding: 30px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#modal-contents-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-contents-header #google-logo {
  height: 40px;
}

#modal-contents-header .header-text {
  font-size: 40px;
}

#modal-gif {
  margin: 0 auto;
  width: 700px;
  display: block;
  border: 1px solid gray;
  margin-top: 10px;
}

#explore-visualization-div {
  height: 50px;
  background-color: #35414B;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#explore-visualization-div span {
  margin-left: 15px;
}

#modal-close-div {
  display: flex;
  justify-content: flex-end;
}

#modal-close-div img {
  height: 15px;
  cursor: pointer;
}

#modal ul {
  list-style-type: disc;
  margin-top: 0;
}

#modal li span {
  position: relative;
  left: -5px;
}

#modal li, #modal p {
  margin: 8px 0;
  line-height: 1.5;
  font-size: 15px;
}
